
# Python
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/

# IDEs
.vscode/
.idea/

# Jupyter Notebooks
.ipynb_checkpoints

# Project-specific
examples/sample_data/raw/
examples/sample_data/processed/

# Logs
*.log
    